# System
.DS_Store
Thumbs.db

# VS Code / Editors
.vscode/
.idea/

# Frontend (React)
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend (Python)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
backend/.env

# YOLO / AI
runs/
*.onnx

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

lint_errors.json
docs/
vision_model/